<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="view-client.css">
    <link rel="stylesheet" href="../../Tables/table-client/table-client.css">
    <link rel="stylesheet" href="../../forms/form-client.css">
    <link rel="stylesheet" href="./view-car.css">
    <script src="./view-car.js"></script>
    <title>Car Dealer</title>
</head>

<body>
    <nav id="barra-navegacion">
        <div id="cabecera">
            <a href="main.html"><img src="./assets/imagen/Logo_Car_Dealer.png" alt=""></a>
        </div>
        <ul id="opciones">
            <div class="dropdown">
                <button class="dropbtn"><a href="./Storage/storage-car/storage-car.html">Autos</a>
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Registro
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="./forms/form-client.html">Registro Cliente</a>
                    <a href="./forms/Form-car/form-car.html">Registro Automovil</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Tablas
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="./Tables/table-client/table-client.html">Tabla Clientes</a>
                    <a href="./Tables/table-car/table-car.html">Tabla Automoviles</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><a href="./About/about.html">about</a>
                </button>
            </div>
            <div class="dropdown"><button class="dropbtn"><a href="./login/login.html">Iniciar Sesion</a>
                </button>
            </div>
        </div>
        </ul>
    </nav>
    <div id="container-view">
        <img id="imagenPerfil" src="" alt="">
        <div id="informacion">
        </div>
        <div style="float: right;">
            <a id="cancelarBoton" href="../../tables/table-client/table-client.html">Cancelar</a>
            <!-- <button id="BuyCarboton"class="ComprarBoton">Comprar nuevo automovil</button> -->
        </div>
    </div>
    
    <footer id="pie-pagina">
        <ul class="lista-Redes">
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="">Whatsapp</a></li>
            <li><a href="">Google+</a></li>
        </ul>
        <h3>Car dealer @Inconporate</h3>
    </footer>
</body>   