<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="view-client.css">
    <link rel="stylesheet" href="../../Tables/table-client/table-client.css">
    <link rel="stylesheet" href="../../forms/form-client.css">
    <script src="./view-client.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="container-view">
        <img id="imagenPerfil" src="" alt="">
        <div id="informacion">
        </div>
        <table id="listaDeAutos">
            <tr id="Tabla-titulos">
                <th>Nombre</th>
                <th>Marca</th>
                <th>Tipo</th>
                <th>Tipo de motor</th>
                <th>Cuerpo del motor</th>
                <th>Precio</th>
                <th>Tanque de gasolina</th>
                <th>imagen</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </th>
        <tbody id="listAutos">

        </tbody>
        </table>
        <div style="float: right;">
            <a id="cancelarBoton" href="../../tables/table-client/table-client.html">Cancelar</a>
            <button id="BuyCarboton"class="ComprarBoton">Comprar nuevo automovil</button>
        </div>
    </div>
</body>

</html>